# Intorduction to Tensorflow

TensorFlow is an open-source machine learning framework developed by Google, designed for building and deploying machine learning models. It provides a flexible ecosystem of tools, libraries, and community resources to help developers and researchers create and train models for various tasks like image recognition, natural language processing, and even reinforcement learning.

Here are some key features of TensorFlow:

1. Flexibility: TensorFlow allows the building of both simple and complex models, from small-scale research projects to large production systems.

2. Deep Learning: It's particularly powerful for deep learning tasks using neural networks, with support for multiple layers, CNNs (Convolutional Neural Networks), RNNs (Recurrent Neural Networks), and other architectures.

3. Cross-platform: TensorFlow runs efficiently on multiple platforms, including CPUs, GPUs, and even mobile devices. It also supports distributed computing for large-scale model training.

4. Ecosystem: TensorFlow includes several helpful tools, like:

    4.1 TensorFlow Hub: For sharing and reusing pre-trained models.
    
    4.2 TensorFlow Lite: For deploying models on mobile and embedded devices.
    
    4.3 TensorFlow Extended (TFX): For production-level machine learning pipelines.
    
    
5. Keras API: TensorFlow integrates Keras, a high-level neural networks API, which simplifies the process of building and training models with its user-friendly interface.


TensorFlow is widely used in the AI/ML community, both in research and production environments, due to its scalability, performance, and extensive support from the community and Google.

so in this module we are going to understand some basic terminologies and the frameworks...

1. Deep Learning Frameworks. 

2. Features of TensorFlow.

3. TensorFlow applications. 

4. How TensorFlow Works.

5. TensorFlow architectures

##  Deep Learning Frameworks
There are some major Deep Learning Frameworks which is used ragularly..
1. Keras.
2. TensorFlow.
3. PyTorch.
4. Caffe.
5. theano.
6. DL4J.
7. Chainer.

## Features of TensorFlow

1. Works efficiently with multi-dimensional arrays.
2. Provides scalability of computation across machines and large data set.
3. Supports fast debugging and model building.
4. Has a large communinty and provides TensorBoard to visualize the model.

## TensorFlow Applications
1. Face detection.
2. Language translation.
3. Fraud detection. 
4. Video detection.

##  How TensorFlow works

1. TensorFlow is derived from its core component known as a Tensor
    1.1 A Tensor is a vector or a matrix of n-dimensions that represents         all types of data.
    
    eg: [[1,2], [3,4], [5,6], [7,8]].
    
2. In TensorFlow, tensors are defined by a unit of dimensionality called as rank.

    s = 300 ==> Rank is 0.
    
    v = [1,2,3] ==> Rank is 1.
    
    m = [[1,2], [3,4], [5,6], [7,8]] ==> Rank is 2.
    
    t = [[[1],[2],[3]], [[4],[5]], [[6],[7],[8]]] ==> Rank is 3.
    
    
3. TensorFlow performs computations with the help of dataflow graphs. it has nodes that represent the operations in you model.
    eg: Compute the below function:
    
        a(b,c,d) = (b+c)*(d-4).
        x = (b+c).
        y = (d-4).
        a = x*y.

## Constants in TensorFlow

In TensorFlow, constants are created using the function constant.

Syntax: constant(value, dtype==None, shape=None, name='Const', verify_shape=False).

Example:  z = tf.constant(5.3, dtype = tf.float32, name = "x")

## Variables in TensorFlow

Variables in TensorFlow are in-memory buffers that stors tensors.

Let's declare a 2 by 3 tensor populated by ones.

Example: v = tf.Variable(tf.ones([2,3], dtypes = tf.float32))

#  Keras

In [1]:
#  !pip install keras

In [2]:
# !pip install tensorflow

In [3]:
import pandas as pd
import math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import mean_squared_error

In [4]:
df = pd.read_csv('air_Quality.csv')
df.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,216498,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,06/01/2013,34.64,NaN
1,216499,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,06/01/2014,33.22,NaN
2,219969,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,06/01/2013,31.25,NaN
3,219970,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2014,06/01/2014,31.15,NaN
4,164876,383,Sulfur Dioxide (SO2),Mean,ppb,CD,211,Morris Park and Bronxdale (CD11),Winter 2008-09,12/01/2008,5.89,NaN

In [5]:
df.columns

Index(['Unique ID', 'Indicator ID', 'Name', 'Measure', 'Measure Info',
       'Geo Type Name', 'Geo Join ID', 'Geo Place Name', 'Time Period',
       'Start_Date', 'Data Value', 'Message'],
      dtype='object')

In [6]:
len(df.columns)

12

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       16122 non-null  int64
 1   Indicator ID    16122 non-null  int64
 2   Name            16122 non-null  object
 3   Measure         16122 non-null  object
 4   Measure Info    16122 non-null  object
 5   Geo Type Name   16122 non-null  object
 6   Geo Join ID     16122 non-null  int64
 7   Geo Place Name  16122 non-null  object
 8   Time Period     16122 non-null  object
 9   Start_Date      16122 non-null  object
 10  Data Value      16122 non-null  float64
 11  Message         0 non-null      float64
dtypes: float64(2), int64(3), object(7)
memory usage: 1.5+ MB

In [8]:
df.describe()

           Unique ID  Indicator ID   Geo Join ID    Data Value  Message
count   16122.000000  16122.000000  1.612200e+04  16122.000000      0.0
mean   339480.955589    427.131063  6.133394e+05     19.129163      NaN
std    194099.809551    109.657607  7.916715e+06     21.673789      NaN
min    130355.000000    365.000000  1.000000e+00      0.000000      NaN
25%    172183.250000    365.000000  2.020000e+02      8.460000      NaN
50%    221882.500000    375.000000  3.030000e+02     13.900000      NaN
75%    547749.750000    386.000000  4.040000e+02     25.470000      NaN
max    671122.000000    661.000000  1.051061e+08    424.700000      NaN

In [9]:
df.drop(['Message'],axis =1, inplace= True) # removing the column of Message

In [10]:
df.describe()

           Unique ID  Indicator ID   Geo Join ID    Data Value
count   16122.000000  16122.000000  1.612200e+04  16122.000000
mean   339480.955589    427.131063  6.133394e+05     19.129163
std    194099.809551    109.657607  7.916715e+06     21.673789
min    130355.000000    365.000000  1.000000e+00      0.000000
25%    172183.250000    365.000000  2.020000e+02      8.460000
50%    221882.500000    375.000000  3.030000e+02     13.900000
75%    547749.750000    386.000000  4.040000e+02     25.470000
max    671122.000000    661.000000  1.051061e+08    424.700000

In [11]:
df.isnull().sum()

Unique ID         0
Indicator ID      0
Name              0
Measure           0
Measure Info      0
Geo Type Name     0
Geo Join ID       0
Geo Place Name    0
Time Period       0
Start_Date        0
Data Value        0
dtype: int64